In [1]:
import pandas as pd
from settings import *
from pathlib import Path

In [2]:
train_data = pd.read_csv(Path(data_location, "bank_account_classifier_training_set.csv"))

In [3]:
print(train_data.head())

   labels                              full_bank_description  \
0     401  CB DE SOUSA ANTONI FACT 300720 M BERTHINIER CH...
1     401  *BERI DETECTISARL 3A SERVICES FR80AAA481533 BE...
2     401  VIR SEPA DEBIESSE ANNULATION VIRT PAR ERREUR D...
3     401  CB COTE COMPTOIR FACT 160920 M BERTHINIER CHAR...
4     401     FACTURE N 034 VERS 12135 00300 04365870673 39

            DB_NAME  bankAccountBankName  bankAccountBranch  bankAmount  \
0  YPN_DB1000232254              13825.0              200.0       -4.35
1  YPN_DB1000232254              13825.0              200.0      -78.00
2  YPN_DB1000232254              13825.0              200.0       72.00
3  YPN_DB1000232254              13825.0              200.0      -12.00
4  YPN_DB1000232254              13825.0              200.0      -60.00

   lettering_code  payment_day  payment_month  payment_year
0               0            1              8          2020
1               0           10              9          2020
2               0            5             12          2019
3               0           17              9          2020
4               1           28              1          2021

In [4]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib

Using matplotlib backend: GTK3Agg

In [5]:
numerical_x = train_data[["bankAccountBankName", "bankAccountBranch", "bankAmount", "lettering_code", "payment_day", "payment_month", "payment_year"]]
numerical_x.head()

,bankAccountBankName,bankAccountBranch,bankAmount,lettering_code,payment_day,payment_month,payment_year
0,13825.0,200.0,-4.35,0,1,8,2020
1,13825.0,200.0,-78.00,0,10,9,2020
2,13825.0,200.0,72.00,0,5,12,2019
3,13825.0,200.0,-12.00,0,17,9,2020
4,13825.0,200.0,-60.00,1,28,1,2021

In [6]:
labels = train_data[["labels"]]
labels.head()

   labels
0     401
1     401
2     401
3     401
4     401

/home/sadid/.local/lib/python3.8/site-packages/ipykernel/gui/gtk3embed.py:59: RuntimeWarning: coroutine 'Kernel.do_one_iteration' was never awaited
  self.kernel.do_one_iteration()
RuntimeWarning: Enable tracemalloc to get the object allocation traceback